<% form_for([:admin, @mix]) do |f| %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.collection_select(:artist_id,Artist.all,:id,:name)  %>
  </p>
  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.submit 'Submit' %> <%= link_to 'Cancel', admin_mixes_path %>
  </p>
<% end %>
