<%= image_tag @artist.photo.url(:small), :id => "artist-photo" if @artist.photo? %>
<h1><%=h @artist.name %></h1>
<h4>Mixes</h4>
<p>	
	<% @artist.mixes.each do |mix| %>
		<%= link_to h(mix.title), mix %><br/>
	<% end %>
</p>
<h4>Events</h4>
<p>	
	<% @artist.events.each do |event| %>
		<%= link_to h(event.name), event %><br/>
	<% end %>
</p>
<h4>Biography</h4>
<p>
  <%=simple_format(h @artist.bio) %>
</p>
