<% form_for([:admin, @user]) do |f| %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :user_password, 'Password' %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :user_password_confirmation, 'Confirm' %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <p>
    <%= f.submit 'Submit', :class => "submit" %> <%= link_to 'Cancel', admin_users_path %>
  </p>
<% end %>
