<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<title>Artists: <%= controller.action_name %></title>
	<%= stylesheet_link_tag 'style', 'scaffold' %>
	<!--[if !IE 7]>
		<style type="text/css">
			#container {display:table;height:100%}
		</style>
	<![endif]-->
</head>
<body>
	<div id="container">
		<div id="header">
			<ul class="nav">
				<li><%= link_to "Home", root_path %></li>
				<li><%= link_to "Artists", artists_path %></li>
				<li><%= link_to "Mixes", mixes_path %></li>
				<li><%= link_to "Events", events_path %></li>
			</ul>
		</div>
		<div id="main">
	      <p style="color: green"><%= flash[:notice] %></p>
	      <%= yield :layout %>
	    </div>
	</div>
    <div id="footer">
		<div id="foot">
			<ul class="nav">
				<li><%= link_to "Admin", :controller=>'/admin', :action=>'index' %></li>
			</ul>
		</div>
    </div>
</body>
</html>
